$btn_options: #E85E58;
$grid_purple: #c2b8e0;
$grid_blueish: #CEE0EF;
$grid_pinkish: #E1CDE9;
$grid_orangeish: #FFF5DA;
$grid_greenish: #D2E8D4;
$grid_yellowish: #FDECC2;
$grid_redish: #fad2df;
$bg_container : #F4F6F9;
$border_blue: #486D93;
/* --- */
$c-black: #00000000;
