.timeMachine {
  max-width: 700px;
  width: 90%;
  overflow-x: auto;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  &__gridItems {
    height: 60px;
    width: 100%;
    cursor: pointer;
  }
  &__gridItems--opacity {
    opacity: 25%;
  }
  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    button {
      width: 120px;
      height: 35px;
      background-color: #e95f58;
      color: black;
      border: none;
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;
    }
    button:hover {
      background-color: #e95f58b2;
    }
    button:disabled{
      background-color: rgb(221, 221, 221);
      border: 2px solid rgb(202, 202, 202);
      pointer-events: none;
    }
  }
  /* &--gridSelected  {
    transform: scale(105%);
    transition: 0.2s;
  } */
  @media (min-width: 40em) {
    &__container {
      grid-template-columns: 70% 1fr;
      gap: 0;
    }
    &__gridItems {
      height: 70px;
    }
  }
}

